<div>
    <h1>Minha História</h1>
    <p>
        Sidemar é um cara super de boa! Ele é viciado em violão, tipo, não passa um dia sem dedilhar as cordas desse negócio. E, mesmo que a Bruna não seja tão chegada assim à música, ela sempre apoia o hobby dele. Os dois têm uma conexão incrível, tanto no amor quanto em apoiar os interesses um do outro.

E não são só os dois na casa, não! Eles têm dois gatos malucos que vivem aprontando. Os bichanos adoram quando Sidemar toca, e às vezes, até se juntam à festa, fazendo um dueto de miados e acordes de violão. É uma bagunça divertida!

Então é isso, Sidemar, seu violão, sua esposa Bruna e sua família felina. Uma combinação perfeita de amor, música e travessuras gatinhas. 🎸🐱🐱❤️
        
    </p>

</div>
    <h4>{{nome}}</h4>
    <p>
         Sidemar, um cara muito legal 😂
    </p>
    <h4>{{idade}}</h4>
    <p>
        ele tem 34 anos rsrs, ta velho né.😁
    </p>
    <h4>{{hobby}}</h4>
    <p>
        ele ama tocar seu violão estilo bossa nova.🎵🎶🎶🎶
    </p>
</div>















